<%- include ('../partials/header')%>
<div>
	<div  class="container">    
		<% news.forEach(function(article){ %>
			<!-- <div class="left"> -->
					<% if(article.theme =="Recent news"){ %>
						<div class="left_1block">
							<div class="article1">
								<img class="img1" src="<%= article.image %>">	
								<div class="left_1block_text">
									<div class="title1_index"><a class="title_link" href="/news/<%= article._id %>"><h2><%= article.title %></h2></a></div>
									<div class="description1_index"><%=article.description%></div>
								</div>
							</div>
						</div>
					<%}%>		
	
					<!-- <% if(article.theme =="Cars"){ %>	
						<div class="left_2block">
							<div class="article2">
								<img  class="img4" src="<%= article.image %>">			
								<div class="left_2block_text">
									<div><a class="title_link" href="/news/<%= article._id %>"><h2><%= article.title %></h2></a></div>
									<div class="description_index"><%=article.description%></div>
								</div>	
							</div>
						</div> 
					<%}%>
				
					<% if(article.theme =="Лес"){ %>	
						<div class="left_3block">
							<div class="article3">
								<img  class="img3" src="<%= article.image %>">			
								<div class="left_2block_text">
									<div><a class="title_link" href="/news/<%= article._id %>"><h2><%= article.title %></h2></a></div>
									<div class="description_index"><%=article.description%></div>
								</div>
							</div>	
						</div>
					<%}%> -->
			<!-- </div> -->
	
	
			<!-- <div class="right"> -->
			
					<% if(article.theme =="Beauty"){ %>
						<div class="right_1block">
							<div class="article_row">
								<div class="right1_block_theme"><%= article.theme %></div>
								<img class="img3" src="<%= article.image %>">			
								<div>
									<div class="title_index_three_row"><a class="title_link" href="/news/<%= article._id %>"><h2><%= article.title %></h2></a></div>
									<div class="description_index_three_row"><%=article.description%></div>
								</div>
							</div>
						</div>					
					<%}%>
				
	
			<!-- </div> -->
		
		<% }); %>
	</div>  

</div>

   
<!-- <%- include ('../partials/footer')%> -->